@font-face {
  font-family: 'Talacha';
  src: url("fonts/Talacha.eot");
  src: url("fonts/Talacha.eot?#iefix") format('embedded-opentype'),
       url("fonts/Talacha.woff2") format('woff2'),
       url("fonts/Talacha.woff") format('woff'),
       url("fonts/Talacha.ttf") format('truetype'),
       url("fonts/Talacha.svg#Talacha") format('svg');
  font-weight: normal;
  font-style: normal;
}

